<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Art.kz</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <table border="1">
        <!-- Строка с шапкой -->
        <tr>
            <td colspan="2">
                <header>
                    <div class="logo">
                        <a href="index.html"><center><p>Furniture Art.kz</p></center></a>
                    </div>
                </header>
            </td>

        </tr>

        <!-- Строка с основным контентом и вертикальным меню -->
        <tr>
            <!-- Основное поле для текста -->
            <td>
                <main>
					<!-- Контейнер с изображением и текстом -->
					<div class="image-container">
						<center><img src="images/logo.png" width="70%" alt="" /></center>
						<!-- <div class="text-overlay">
							<h2>Добро пожаловать на наш сайт!</h2>
							<center><p></p></center>
						</div> -->
					</div>
			</main>
            </td>
            <!-- Левый столбец с меню -->  
            <td style="width: 200px; background-color: #d9d9d9;">
                <nav>
					<ul>
						<li class="active"><a href="главная страница.html">О НАС</a></li>
						<li>
							<a href="каталог товаров.html" class="feat-btn">КАТАЛОГ ТОВАРОВ
							<span class="fas fa-caret-down first"></span>
							</a>
						</li>
						<li><a href="преимущество нас.html">ПРЕИМУЩЕСТВО НАС</a>
							<a href="доставка и помощь.html" class="feat">ДОСТАВКА И ПОМОЩЬ
								<span class="fas-first"></span>
								</a>
						</li>
						<li><a href="оплата и телефоны.html">ОПЛАТА И ТЕЛЕФОНЫ</a>
							<a href="главная страница.html" class="feat">ГЛАВНАЯ СТРАНИЦА
								<span class="fas-first"></span>
								</a>
						</li>
					</ul>
                </nav>
            </td>
        </tr>

        <!-- Строка с футером -->
        <tr>
            <td colspan="2">
                <footer>
                    <center><img id="index_04" src="images/footer.png" width="917" height="1296" alt="" /></center>
                </footer>
            </td>
        </tr>
    </table>
</body>
</html>
